<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="2" label="Editors">
			<item label="Neovim">
				<action name="Execute">
					<execute>nvim</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Internet">
			<item label="Firefox">
				<action name="Execute">
					<execute>firefox</execute>
			</action> </item>
		</menu>
		<menu id="37" label="Settings">
			<item label="Customize Look and Feel"> 
				<action name="Execute">
					<execute>lxappearance</execute>
				</action> 
			</item>
			<item label="Openbox Configuration Manager"> 
				<action name="Execute">
					<execute>obconf</execute>
				</action> 
			</item>
		</menu>
		<item label="Terminal"> 
			<action name="Execute">
				<execute>alacritty -e tmux</execute>
			</action> 
		</item>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
            <item label="Reconfigure"> 
                <action name="Reconfigure"/> 
            </item>
			<separator/>
            <item label="Exit"> 
                <action name="Exit"/> 
            </item>
		</menu>
		<separator/>
		<menu id="exit-menu" label="System">
			<item label="Log Out">
				<action name="Execute">
					<command>openbox --exit</command>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<command>systemctl poweroff</command>
				</action>
			</item>
			<item label="Restart">
				<action name="Execute">
					<command>systemctl reboot</command>
				</action>
			</item>
			<item label="Suspend">
				<action name="Execute">
					<command>systemctl suspend</command>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
